.moreParticipants {
  width: 38.8px;
  height: 38.8px;
  padding: 8.9px 10.9px 10px 8.9px;
  border: solid 1px #5d5c5c;
  background-color: #ff5978;
  float: left;
  border-radius: 50%;
  color: #FFFFFF;
  margin-right: -10px;
}

.callDuration {
  text-align: left;
  margin-left: -5px;
  margin-top: 40px;
  color: #FFFFFF;
}